<footer th:fragment="footer" xmlns:th="http://www.thymeleaf.org">

    <div class="footer">
        <div class="d-flex flex-row-reverse">
            <ul class="nav">
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Nous contacter</a>
                </li>
                <li>
                    <a href="/thanks" class="nav-link">Remerciements</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="/vendor/jquery_3.4.1/jquery_3.4.1.min.js"></script>
    <script src="/vendor/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
</footer>
