html, body, p, span, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fafafa;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

main {
    margin-bottom: 80px;
}

.menu_item {
    width: 100%;
}

.menu-profile {
    width: 80px;
}

.nav-link span, .nav-link {
    color: #fff !important;
}

.bg-menu {
    background-color: #535353;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.nav-link:active, .nav-link:hover {
    color: black !important;
    transition: color .2s;
}

.card {
    border: 2px solid #cecece;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #535353;
    border-radius: 10px 10px 0 0;
}

.form-component {
    border: 0;
}

.result-component {
    margin-top: 20px;
}

.text-underline {
    text-decoration: underline;
}

.result {
    border: 1px solid #000;
    box-shadow: 1px 2px 5px #000;
    border-radius: 5px;
    padding: 15px 0;
    width: 100%;
    margin: .5rem auto !important;
}

.text-black {
    color: #000;
}

.button-account {
    height: 80px;
}

.col-11.offset-md-1.col-md-3.btn.bg-secondary.button-account.text-white {
    margin: 5px auto;
}


.notification {
    width: 50px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -5px;
    padding-top: 10px;
}

.container {
    margin-top: 15px;
}

@media screen and (min-width: 992px) {
    .menu-profile {
        width: 180px;
    }

    .container-menu {
        background-color: transparent;
    }

    #navbar-toggler-menu {
        border: 1px solid #535353;
        border-radius: 25px;
    }

    .navbar-nav.mr-auto.mt-2.mt-lg-0.w-100 {
        justify-content: space-around;
    }

    .navbar-nav.mr-auto.mt-2.mt-lg-0.w-100 > .nav-item:hover {
        background-color: #9D938B;
        transform: translateY(1px);
    }

    .card {
        max-width: 60%;
    }

    .form-component {
        border: 1px solid #000;
        padding: 15px 25px;
        border-radius: 20px;
        box-shadow: 1px 1px 5px black;
    }

    .result-component {
        margin-top: 40px;
    }
}
