<form method="post" th:fragment="new-longueur" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group">
        <label for="voie">Nombre de voies : </label>
        <input type="number" id="voie" class="form-control" placeholder="Nombre de voies" value="1" name="voies">
    </div>
    <div class="form-group">
        <label for="cotation_longueur">Cotation de la longueur : </label>
        <select name="cotation_longueur" id="cotation_longueur" class="form-control">
            <option value="1">1</option>
        </select>
    </div>
</form>