<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/head::head"></head>
<body>
<header th:replace="include/header::header"></header>
<main class="container">
    <h2 class="h2 text-center">Administration du compte</h2>
    <div class="row mb-4">
        <button class="col-11 offset-md-1 col-md-3 btn bg-secondary button-account text-white">
            Changer mon mot de passe
        </button>
        <button class="col-11 offset-md-1 col-md-3 btn bg-secondary button-account text-white">
            Changer mon addresse mail
        </button>
    </div>
</main>
<footer th:replace="include/footer::footer"></footer>
</body>
</html>