<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/head::head"></head>
<body>
<header th:replace="include/header::header"></header>
<main class="container mt-4">
    <div class="col-12 text-center">
        <img src="/img/other/article-card.jpg" alt="Image du site" width="100%">
    </div>
    <h2>Titre</h2>
    <h3>Nom du site</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto asperiores cupiditate dignissimos
        doloribus eius, exercitationem explicabo iure laboriosam magni mollitia odio officia perspiciatis, quis quo
        repellat repudiandae similique voluptate!
    </p>
    <h3>Location</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut debitis deserunt, dicta ducimus eos esse eveniet
        in ipsam nam quasi recusandae repellendus rerum saepe vitae. Ad est ipsa tempora.
    </p>
</main>
<footer th:replace="include/footer::footer"></footer>
</body>
</html>