<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/head::head"></head>
<body>
<header th:replace="include/header::header"></header>
<main class="container">
    <h2 class="h2 text-center">Rechercher sur le site</h2>
    <form th:include="form/search-component::search-component" class="form-component" method="post"></form>
    <div class="result-component" th:if="${results}">
        <h2 class="h2 text-underline">Liste des résultats :</h2>
        <div th:if="${results.isEmpty()}">
            <h6>Malheureusement, aucun résultat n'a été trouvé avec les critères de recherches sélectionnés !</h6>
        </div>
        <div th:each="result : ${results}" class="row result">
            <img src="/img/background/site.jpg" alt="Resultat" width="100%" class="col-12 col-md-3 rounded">
            <div class="col-12 offset-md-1 col-md-8">
                <h3 th:text="${result.nom}"></h3>
                <div>
                    <ul>
                        <li>
                            <span th:text="${result.getDescription()}"></span>
                        </li>
                        <li class="text-right">
                            <a th:href="@{'/details-site/' + ${result.id}}" class="text-black">
                                <button type="button" class="btn btn-success">Voir le site</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="include/footer::footer"></footer>
</body>
</html>