<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/head::head"></head>
<body>
<header th:replace="include/header::header"></header>
<main class="container">
    <h6>Remerciements spéciaux</h6>
    <p>
        Cette page, en dehors du cadre du projet, a pour but de remercier les personnes ayant permis le dévelopement
        du site avec l'effet escompté. Les images sont tirés du site unspash et voici les contributeurs pour les
        images.</p>
    Photo by Hu Chen on Unsplash
    <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;"
       href="https://unsplash.com/@huchenme?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
       target="_blank" rel="noopener noreferrer"
       title="Download free do whatever you want high-resolution photos from Hu Chen"><span
            style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
                                                              style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                                                              viewBox="0 0 32 32"><title>unsplash-logo</title><path
            d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span
            style="display:inline-block;padding:2px 3px">Hu Chen</span></a>
    <br>
    Photo by Laika Notebooks on Unsplash
    <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;"
       href="https://unsplash.com/@laikanotebooks?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
       target="_blank" rel="noopener noreferrer"
       title="Download free do whatever you want high-resolution photos from Laika Notebooks"><span
            style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
                                                              style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                                                              viewBox="0 0 32 32"><title>unsplash-logo</title><path
            d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span
            style="display:inline-block;padding:2px 3px">Laika Notebooks</span></a>

    Merci également au site coordonnées gps pour l'utilisation gratuite des fonctionnalités non présentes sur le site.
    <br>
    <a href="https://www.coordonnees-gps.fr/" target="_blank">Coordonnées GPS</a>

    <p>Signé :
        <br>
        Metaxiii, dev
    </p>
</main>
<footer th:replace="include/footer::footer"></footer>
</body>
</html>