<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="include/head::head"></head>
<body>
<header th:replace="include/header::header"></header>
<main class="container">
    <div class="row justify-content-between">
        <h2 class="h2 text-underline col-6">Liste des Topos:</h2>
        <form action="#">
            <div class="form-group">
                <select name="topo_selection" id="topo_selection" class="form-control">
                    <option value="1" id="topo_selection_dispo">Disponibles</option>
                    <option value="0" id="topo_selection_all">Tous</option>
                </select>
            </div>
        </form>
    </div>
    <div th:if="${results}" th:each="result : ${results}">
        <div class="row result_topos hide_element col-10 offset-1 col-sm-12 offset-sm-0"
             th:classappend="${result.available} ? available : not_available">
            <div class="col-12 col-sm-4 col-md-3">
                <img src="/img/background/topo.jpg" alt="Resultat" width="100%">
            </div>
            <div class="col-12 offset-md-1 col-sm-8 offset-sm-0 col-md-8">
                <div class="row w-100">
                    <h3 th:text="${result.nom}" class="col-8"></h3>
                    <div class="text-right col-4 pt-1">
                        <button type="button" class="btn btn-success" sec:authorize="isAuthenticated()"
                                th:classappend="${result.available} ? '' : disabled_element ">
                            <a th:href="@{'reservation-topo/' + ${result.id}}" class="text-black">Réserver</a>
                        </button>
                    </div>
                </div>
                <ul>
                    <li>Location</li>
                    <li>Description</li>
                </ul>
            </div>
        </div>
        <hr class="hr" th:classappend="${result.available} ? available : not_available"/>
    </div>
</main>
<footer th:replace="include/footer::footer"></footer>
<script src="/js/topo.js"></script>
</body>
</html>