<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/head::head"></head>
<body>
<header th:replace="include/header::header"></header>
<main class="container">
    <div class="alert alert-danger" role="alert">
        <span th:text="${user.errors}">Attention</span>
    </div>
    <form action="" method="post" th:include="include/form/new-user::new-user" id="form_create_user"
          th:if="${user.username} == null"></form>
    <form th:if="${user.username} != null" th:include="include/form/connect::connect">Connexion</form>
</main>
<footer th:replace="include/footer::footer"></footer>
</body>
</html>
